name: CI/CD - Frontend & Backend Docker Images

on:
  push:
    tags:
      - "v*.*.*"

jobs:

  # TEST JOB
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Backend
      - name: Backend - Install
        run: cd backend && npm ci

      - name: Backend - Test
        run: cd backend && npm test

      # Frontend
      - name: Frontend - Install
        run: cd frontend && npm ci

      - name: Frontend - Test
        run: cd frontend && npm test

      - name: Frontend - Build
        run: cd frontend && npm run build


  #  BUILD & PUSH JOB

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Backend Image
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
           shubha69/ai_chatapp-backend:${{ steps.version.outputs.VERSION }}
           shubha69/ai_chatapp-backend:latest

      # Frontend Image
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            shubha69/ai_chatapp-frontend:${{ steps.version.outputs.VERSION }}
            shubha69/ai_chatapp-frontend:latest